:root{
    --col: rgb(143, 164, 148);
}
body {
    padding-top: 5rem;
}

main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#profile-header{
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    background: radial-gradient(circle, rgb(102, 192, 153) 10%,rgb(6, 169, 98) 90%);
    color: white;
}

#profile-header img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 4px rgb(4, 105, 61) ;
}

#profile-header h1{
    text-shadow: 2px 2px 4px rgb(4, 105, 61) ;
    font-weight: bold;
    font-size: 24px;
}
#profile-header h2{
    font-weight: normal;
    font-size: 12px;
}

#profile-stats{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    gap: 30px;

}

#profile-stats div{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

#profile-stats label{
     color: var(--col);
}

#profile-stats span{
    display: block;
    font-weight: bold;
    font-size: 18px;
}

#bio{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 12px;
    color: var(--col);
}


#action{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

#follow{
    background-color: rgb(63, 202, 53);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

}