{% extends "base.html" %}

{% block main %}
    <div id ="profile-header">
        <img src="{{url_for('static', filename='WWM.jpeg') }}" alt="Profile picture">
        <h1>Tara-Lee Donald</h1>
        <h2>@Nirkili</h2>
        <h2>Kingston, Jamaica</h2>
        <h2>Joined {{date}}</h2>
    </div>
    <div id="bio">
        <p>I am an aspiring software developer with a knack for accounting. In my free time, I enjoy playing games, watching shows and exploring new technologies.</p>
    </div>

    <div id="profile-stats">
        <div>
            <span>7</span>
            <label>Posts</label>
        </div>
        <div>
            <span>100</span>
            <label>Following</label>
        </div>
        <div>
            <span>250</span>
            <label>Followers</label>
        </div>
    </div>

    <div id = "action">
        <button id = "follow">Follow</button>
    </div>

{% endblock %}